!!!
%html
  %head
    %title ScrapeYelpBindo
    %link{:href => "https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css", :rel => "stylesheet"}
    %script{:src => "http://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
    :css
      body { margin:0; padding:0; }
      #map { position:relative; display:block; top:0; bottom:0; width:100%; height: 400px}
  %body
    .container
      .sixteen.columns
        %a.hamburger Menu
        %nav.clearfix
          %ul
            %li
              %h1 Scraping Yelp
            / %li
            /   %a{:href => ""} Map
            / %li
            /   %a{:href => ""} Categories
            / %li
            /   %a{:href => ""} State
            / %li
            /   %a{:href => ""} Neighborhood>
        #map.clearfix
        =yield

        :javascript
          L.mapbox.accessToken = 'pk.eyJ1Ijoiam1hYzg0MjQiLCJhIjoiczNhRG5wNCJ9.9Th4UpP0dmkcTH_c9bV2tA';

          var map = L.mapbox.map('map', 'jmac8424.k6lb8hf1').setView([34.0500, -118.2500], 14);

          var myLayer = L.mapbox.featureLayer().addTo(map);
          map.on('load', function () {
            //var markerLayer = L.mapbox.markerLayer().addTo(map);
            L.mapbox.featureLayer({
              // this feature is in the GeoJSON format: see geojson.org
              // for the full specification
              type: 'Feature',
              geometry: {
                type: 'Point',
                // coordinates here are in longitude, latitude order because
                // x, y is the standard for GeoJSON and many formats
                coordinates: [
                  34.0500,
                 -118.2500
                ]
              },
              properties: {
                title: 'CrossFit Sunrise or something',
                description: 'Beverly Hills',
                // one can customize markers by adding simplestyle properties
                // https://www.mapbox.com/foundations/an-open-platform/#simplestyle
                'marker-size': 'large',
                'marker-color': '#fff',
                "marker-symbol": "star"
              }
            }).addTo(map);
          });



          $(document).ready(function() {

            // get JSON object
            // on success, parse it and
            // hand it over to MapBox for mapping
            
              $.ajax({
                url: '/businesses/get_markers',
                type: 'GET',
                dataType: 'JSON',
                success: function(data) {
                  if (data.length > 0){
                    var geojson = $.parseJSON(data);
                    map.featureLayer.setGeoJSON(geojson);
                  }
                }
              });
            });

















