<!DOCTYPE html>
<html>
<head>
  <title>ScrapeYelpBindo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



  <!-- JS
  ================================================== -->
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="javascripts/tabs.js"></script>

<!-- End Document
================================================== -->

<%= yield %>

</body>
</html>
