<!DOCTYPE html>
<html>
<head>
  <title>ScrapeYelpBindo</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.map", type: "text/javascript"></script>
  <script src="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js"></script>
  <script>L.mapbox.accessToken = 'pk.eyJ1Ijoiam1hYzg0MjQiLCJhIjoiczNhRG5wNCJ9.9Th4UpP0dmkcTH_c9bV2tA'</script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
  body { margin:0; padding:0; }
  #map { position:absolute; display:block; top:0; bottom:0; width:100%; height: 400px}
  </style>
</head>
<body>
  <div class ="container">
    <div class="sixteen columns">
      <a class="hamburger">Menu</a>
      <nav class="clearfix"> 
        <ul>
          <li><h1>Scraping Yelp</h1></li>
          <li><a href="">Map</a></li>
          <li><a href="">Categories</a></li>
          <li><a href="">State</a></li>
          <li><a href="">Neighborhood></a></li>
        </ul>
      </nav>
    </div>

<div style='width: 800px;'>
  <div id="map" class="clearfix" style='width: 800px; height: 400px;'></div>
</div>


<%= yield %>

<%# paginate @businesses %>

<script> 
 var map = L.mapbox.map('bindo_map', 'jmac8424.k6lb8hf1')
     .setView([40, -74.50], 9);
</script>
</div>
</body>
</html>